@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/*Cuerpo del compoente */
.bodyLoginAdmin{

    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex; /* Flex permite que los elementos hijos se ajusten a la pantalla */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    


}


.tituloAdmin{
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pAdmin{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
}


/*Contenedor del formulario */
.containerAdmin{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 400px;
    margin-bottom: 70px;

}



/*Estilo del formulario del contenedor */
.containerAdmin form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho del contenedor */
}

/*Estilo de los input del formulario */
.containerAdmin input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 60%;
}

/*Estilo de boton del formulario */
.containerAdmin button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
